/*Top Level App CSS Styling*/

body {
  background: #e6e6e6;
  height: 100%;
  /*overflow:hidden;*/
  
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.header {
  height: 20px;
  padding: 5px 20px 20px 20px;
  margin: 0 0 20px 0;

  background-color: #383B43;
  text-align: center;
  
  font-size: 36px;
  color: white;
}

.app {
  height: 85vh;
  /*height: 80%;*/
  width: 100%;
  text-align: center;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  justify-content: space-around;
}


